.btn-bg {
	position: absolute;
	bottom: 5px;

	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
@media only screen and (max-width: 760px) {
	.btn-bg {
		bottom: -35vh !important;
	}
}
.btn-bg.bg-2 .btn-2 button {
	color: white;
	text-shadow: -0.5px 0 #262626, 0 0.5px #262626, 0.5px 0 #262626, 0 -0.5px #262626;
	background: transparent;
	border: none;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.btn-bg.bg-2 .btn-2 button:hover {
	background: transparent;
}
.btn-bg.bg-2 .btn-2 button:hover:before,
.btn-bg.bg-2 .btn-2 button:hover:after {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	width: 100%;
}
.btn-bg.bg-2 .btn-2 button:before,
.btn-bg.bg-2 .btn-2 button:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0px;
	width: 0px;
	height: 3px;
	background: rgb(238, 100, 104);
	transition: all 0.4s ease;
}
.btn-bg.bg-2 .btn-2 button:after {
	top: inherit;
	left: inherit;
	bottom: 0;
	right: 0;
}
.btn {
	margin: 0 auto 30px auto;
	display: block;
}
h2 {
	text-align: center;
	font-weight: 600;
	color: #fff;
}
button {
	cursor: pointer;
	overflow: hidden;
	outline: none;
	color: #fff;
	position: relative;
	font-weight: 800;
	padding: 1rem 3rem 1rem 3rem;
	font-size: 2em;
}
button a {
	text-decoration: none;
}
@-moz-keyframes cloud-animation {
	100% {
		background-position: 0px 2em;
	}
}
@-webkit-keyframes cloud-animation {
	100% {
		background-position: 0px 2em;
	}
}
@-o-keyframes cloud-animation {
	100% {
		background-position: 0px 2em;
	}
}
@keyframes cloud-animation {
	100% {
		background-position: 0px 2em;
	}
}
@-moz-keyframes witch-word-color {
	0% {
		color: #d3b7f7;
	}
	50% {
		color: #50514f;
	}
	100% {
		color: #fff;
	}
}
@-webkit-keyframes witch-word-color {
	0% {
		color: #d3b7f7;
	}
	50% {
		color: #50514f;
	}
	100% {
		color: #fff;
	}
}
@-o-keyframes witch-word-color {
	0% {
		color: #d3b7f7;
	}
	50% {
		color: #50514f;
	}
	100% {
		color: #fff;
	}
}
@keyframes witch-word-color {
	0% {
		color: #d3b7f7;
	}
	50% {
		color: #50514f;
	}
	100% {
		color: #fff;
	}
}
